<main>
    <div class="container">
        <div class="box">
            <div class="titulo">
                <p>Entradas</p>
                <ion-icon class="entrada" name="arrow-up-circle-outline"></ion-icon>
            </div>
            <h3>R${{valorEntrada}}</h3>
        </div>
        <div class="box">
            <div class="titulo">
                <p>Saídas</p>
                <ion-icon class="saida" name="arrow-down-circle-outline"></ion-icon>
            </div>
            <h3>-R${{valorSaida}}</h3>
        </div>
        <div class="box {{classe}}">
            <div class="titulo">
                <p>Total</p>
                <span>$</span>
            </div>
            <h3>{{total}}</h3>
        </div>
    </div>
    <div class="btn-new">
        <a href="/cadastrar"><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                + Nova transação
            </button></a>
    </div>

    {{#if listaTransacoes}}
    <div class="categorias">
        <table>
            <tr>
                <th class="nome">Título</th>
                <th>Valor</th>
                <th>Categoria</th>
                <th>Data</th>
                <th>Hora</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            {{#each listaTransacoes}}
            <tr class="box-item">
                <td>{{titulo}}</td>
                {{#if entrada}}
                <td><label class="positivo">R${{valor}}</label></td>
                {{else}}
                <td><span class="negativo">-R${{valor}}</span></td>
                {{/if}}
                <td>
                    <p class="categoria">{{categoria}}</p>
                </td>
                <td>{{dat}}</td>
                <td>{{hora}}</td>
                <td><a href="/delete/{{ id_li }}">
                        <ion-icon name="trash-outline"></ion-icon>
                    </a></td>
                <td><a href="/edit/{{ id_li }}">
                        <ion-icon name="create-outline"></ion-icon>
                    </a></td>
            </tr>
            {{/each}}
        </table>
    </div>

    <b></b>

    {{else}}
    <b></b>
    <div class="lista-vazia">
        <p>Não há transações cadastradas...</p>
    </div>
    {{/if}}
</main>